<?xml version="1.0"?>
<config>
    <modules>
        <CV_Thuvien>
            <version>0.1.6</version>
        </CV_Thuvien>
    </modules>
    <frontend>
        <routers>
            <thuvien>
                <use>standard</use>
                <args>
                    <module>CV_Thuvien</module>
                    <frontName>thuvien</frontName>
                </args>
            </thuvien>
        </routers>
        <layout>
            <updates>
                <thuvien>
                    <file>CV_Thuvien.xml</file>
                </thuvien>
            </updates>
        </layout>
        <translate>
            <modules>
                <CV_Thuvien>
                    <files>
                        <default>CV_Thuvien.csv</default>
                    </files>
                </CV_Thuvien>
            </modules>
        </translate>
    </frontend>
    <admin>
        <!-- <routers>
            <adminhtml>
                <args>
                    <modules>
                        <thuvien after="Mage_Adminhtml">CV_Thuvien</thuvien>
                    </modules>
                </args>
            </adminhtml>
        </routers> -->

        <routers>
            <thuvien>
                <use>admin</use>
                <args>
                    <module>CV_Thuvien</module>
                    <frontName>thuvien</frontName>
                </args>
            </thuvien>
        </routers>

    </admin>
    <adminhtml>
        <menu>
            <thuvien module="thuvien">
            <title>Quản lý thư viện</title>
            <sort_order>68</sort_order>
                <children>
                    <items1 module="thuvien">
                        <title>Quản lý độc giả</title>
                        <sort_order>1</sort_order>
                        <action>thuvien/adminhtml_docgia</action>
                    </items1>
					<items2 module="thuvien">
                        <title>Quản lý tác phẩm</title>
                        <sort_order>3</sort_order>
                        <action>thuvien/adminhtml_tacpham</action>
                    </items2>
                </children>
            </thuvien>
            <muontrasach module="thuvien">
                <title>Mượn-Trả</title>
                <sort_order>69</sort_order>
                <action>thuvien/adminhtml_muontra</action>
            </muontrasach>
            <vanphong module="thuvien">
                <title>Văn Phòng</title>
                <sort_order>69</sort_order>
                <children>
                    <quydinh module="thuvien">
                        <title>Quy định thư viện</title>
                        <sort_order>1</sort_order>
                        <action>thuvien/adminhtml_quydinh/</action>
                    </quydinh>
                    <dulieudinhsan module="thuvien">
                        <title>Dữ liệu định sẵn</title>
                        <sort_order>3</sort_order>
                       <children>
                           <tacpham module="thuvien">
                               <title>Tác phẩm</title>
                               <sort_order>1</sort_order>
                               <children>
                                   <theloai module="thuvien">
                                       <title>Thể loại</title>
                                       <sort_order>1</sort_order>
                                       <action>thuvien/adminhtml_theloai/</action>
                                   </theloai>
                                   <ddc module="thuvien">
                                       <title>DDC</title>
                                       <sort_order>2</sort_order>
                                       <action>thuvien/adminhtml_ddc/</action>
                                   </ddc>
                                   <tacgia module="thuvien">
                                       <title>Tác giả</title>
                                       <sort_order>3</sort_order>
                                       <action>thuvien/adminhtml_tacgia/</action>
                                   </tacgia>
                                   <dichgia module="thuvien">
                                       <title>Dịch giả</title>
                                       <sort_order>4</sort_order>
                                       <action>thuvien/adminhtml_dichgia/</action>
                                   </dichgia>
                                   <sachbo module="thuvien">
                                       <title>Sách bộ</title>
                                       <sort_order>5</sort_order>
                                       <action>thuvien/adminhtml_sachbo/</action>
                                   </sachbo>
                                   <nhaxb module="thuvien">
                                       <title>Nhà Xuất Bản</title>
                                       <sort_order>6</sort_order>
                                       <action>thuvien/adminhtml_nhaxb/</action>
                                   </nhaxb>
                                   <khosach module="thuvien">
                                       <title>Kho sách</title>
                                       <sort_order>7</sort_order>
                                       <action>thuvien/adminhtml_khosach/</action>
                                   </khosach>
                                   <hientrang module="thuvien">
                                       <title>Hiện trạng</title>
                                       <sort_order>8</sort_order>
                                       <action>thuvien/adminhtml_hientrang/</action>
                                   </hientrang>
                                   <tinhtrang module="thuvien">
                                       <title>Tình trạng</title>
                                       <sort_order>9</sort_order>
                                       <action>thuvien/adminhtml_tinhtrang/</action>
                                   </tinhtrang>
                                   <ngonngu module="thuvien">
                                       <title>Ngôn ngữ</title>
                                       <sort_order>10</sort_order>
                                       <action>thuvien/adminhtml_ngonngu/</action>
                                   </ngonngu>
                               </children>

                           </tacpham>
                       </children>
                    </dulieudinhsan>
                </children>
            </vanphong>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <CV_Thuvien>
                            <title>Managelicense Module</title>
                            <sort_order>10</sort_order>
                        </CV_Thuvien>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <thuvien>
                    <file>cv_thuvien.xml</file>
                </thuvien>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <thuvien>
                <class>CV_Thuvien_Model</class>
                <resourceModel>thuvien_mysql4</resourceModel>
            </thuvien>
            <thuvien_mysql4>
                <class>CV_Thuvien_Model_Mysql4</class>
                <entities>
                    <!-- docgia -->
                    <docgia>
                        <table>dgdocgia</table>
                    </docgia>
                    <lephi>
                        <table>dglephi</table>
                    </lephi>
                    <thanhpho>
                        <table>dgthanhpho</table>
                    </thanhpho>
                    <lplydo>
                        <table>dglydotratien</table>
                    </lplydo>
                    <lpghichu>
                        <table>dgghichulephi</table>
                    </lpghichu>
                    <dgmuontra>
                        <table>dgmuontra</table>
                    </dgmuontra>
                    <!-- Het phan doc gia-->
                    <!-- Van Phong thu vien -->
                    <tvquydinh>
                        <table>tvquydinh</table>
                    </tvquydinh>
                    <!-- Phan Van Phong -->
                    <!-- tacpham -->
                    <tpcom>
                        <table>tptacphamcom</table>
                    </tpcom>
                    <tppop>
                        <table>tptacphampop</table>
                    </tppop>
					<theloai>
                        <table>tplisttheloai</table>
                    </theloai>
                    <ddc>
                        <table>tpddc</table>
                    </ddc>
					<tacgia>
                        <table>tplisttacgia</table>
					</tacgia>
                    <dichgia>
                        <table>tplistdichgia</table>
                    </dichgia>
                    <ngonngu>
                        <table>tpngonngu</table>
                    </ngonngu>
					<sachbo>
                    <table>tplistsachbo</table>
                    </sachbo>
                    <nhaxb>
                        <table>tpnhaxb</table>
                    </nhaxb>
                    <khosach>
                        <table>tplistkhosach</table>
                    </khosach>
					<tacphampop>
                        <table>tptacphampop</table>
                    </tacphampop>					
					<hientrang>
                        <table>tphientrang</table>
                    </hientrang>
                    <tinhtrang>
                        <table>tptinhtrang</table>
                    </tinhtrang>
                </entities>
            </thuvien_mysql4>
        </models>
        <resources>
            <thuvien_setup>
                <setup>
                    <module>CV_Thuvien</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </thuvien_setup>
            <thuvien_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </thuvien_write>
            <thuvien_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </thuvien_read>
        </resources>
        <blocks>
            <thuvien>
                <class>CV_Thuvien_Block</class>
            </thuvien>
        </blocks>
        <helpers>
            <thuvien>
                <class>CV_Thuvien_Helper</class>
            </thuvien>
        </helpers>

        <default>
        </default>
    </global>
</config>