body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

/*Header style*/
.header-language-background{
    background: #652e81;
    height: 49px;
    line-height: 49px;
    color: white;
}

.container, .main-container{
    width: 1170px;
    margin: auto;
}
.main{
    min-height: 450px;
}
noscript{
    display: none;
}
#header-account {
    float: right;
}
#header-account .links ul{
    margin: 0px;
    padding: 0px;
}
#header-account .links li {
    color: white;
    display: inline-block;
    line-height: 49px;

}
#header-account .links li:last-child {
    padding-right: 0px;
    border-right: 0px;
}
.welcome-msg {
    float: left;
}
#header-account .links li a{
    color: white;
    text-decoration: none;
    padding: 0 15px;
    border-right: 1px solid white;
}
#header-account .links li:last-child a{
    border-right: none;
    padding-right: 0px;
}
#header .logo img{
    padding: 20px 0px;
}
#header-cart{
    display: none;
}
.page-header-container .skip-links{
    float: right;
}
.header-minicart {
    padding: 25px;
}
.header-minicart .icon{
    background: image;
}
.search-categories {
    background: #24a282;
    height: 50px;
    clear: both;
}
.top-categories {
    color: white;
    float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 50px;
    margin-right: 30px;
    text-transform: uppercase;
    width: 154px;
}
.header-top-categories {
    background-image: url("../images/arrow_bottom.png");
    background-position: right 15px;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    cursor: pointer;
    padding-right: 26px;
    height: 50px;
}
.skip-content {
    line-height: 50px;
}
#search_mini_form select{
    border-radius: 5px 0 0 5px;
    height: 40px;
    min-width: 15%;
    border: 1px solid #cccccc;
    padding-left: 10px;
}
#search_mini_form select option{
    height: 30px;
    line-height: 30px;
}
#search {
    height: 40px;
    margin-left: -5px;
    width: calc(85% - 184px);
    border-radius: 0px 5px 5px 0;
    border: 1px solid #cccccc;
    padding-left: 20px;
}
.search-button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f6f1e5;
    border: 1px solid #cccccc;
    border-right: none;
    font-size: 14px;
    height: 40px;
    margin-left: -105px;
    padding:0 20px;
    width: 100px;
    border-radius: 0px 5px 5px 0;
    cursor: pointer;
}
.footer-container{
    background: #cccccc;
    padding: 30px 0 0;
    clear: both;
}
.top-left{
    width: 30%;
    text-align: left;
    float: left;
}
.top-right{
    width: 30%;
    text-align: right;
    float: left;
}
.top-center{
    text-align: center;
    width: 40%;
    float: left;
}
.top-slider{
    width: 905px;
    height: 300px;
    float: left;
    overflow: hidden;
}
ul, p{
    margin: 0px;
}
.top-slider-news {
    margin-top: 15px;
}
.top-news{
    float: right;
    height: 300px;
    border: 1px solid red;
    width:calc(100% - 915px);
}
.home-books-block {
    clear: both;
    margin: 5px 0 20px;
}
.home-books-block{
    margin: auto;
}
.home-books-block li{
  width: 16%;
  text-align: center;
}
.home-books-block li img{
    width: 159px;
    height: 224px;
    margin: auto auto 10px;
}
.home-books-block .title {
    border-bottom: 1px solid #f2f2f2;
    float: left;
    width: 100%;
}
.home-books-block  .title .a-left{
    text-transform: capitalize;
    float: left;
    text-decoration: none;
    font-size: 24px;
    color: #000000;
}
.home-books-block  .title .a-right{
    float: right;
    text-decoration: none;
    color: #24a282;
    line-height: 30px;
}
.home-books-content {
    float: left;
    margin-top: 15px;
    width: 100%;
}
.next-newbook{
    width: 2%;
    height: 224px;
    float: right;
    border: none;
    background: url('../images/icon_next_slide_filter.png') no-repeat;
    background-position: center left;
    cursor: pointer;
}
.next-newbook:hover{
    background: url('../images/icon_next_slide_filter_hover.png') no-repeat;
    background-position: center left;
}
.newbook{
    float: left;
}
.prev-newbook{
    width: 2%;
    height: 224px;
    float: left;
    border: none;
    background: url('../images/icon_prev_slide_filter.png') no-repeat;
    background-position: center left;
    cursor: pointer;
}
.prev-newbook:hover{
    background: url('../images/icon_prev_slide_filter_hover.png') no-repeat;
    background-position: center left;
}
a {
    color:#24a282;
}
a:hover{
    color:#fe992f;
}
.footer.container{
    padding: 0 0 20px 0;
}
.copyright{
    background: #000000;
    color: gray;
    text-align: center;
    padding: 15px 0;
}
.danhmucsach {
    display: none;
    position: relative;
    z-index: 99999;
    background: #f6f2e7;
    padding: 20px 0;
    line-height: 35px;
}
.header-top-categories:hover .danhmucsach{
    display: block;
}
.danhmucsach ul{
    margin:0 40px;
}
.danhmucsach li{
   width: 19%;
   display: inline-block;
}
.danhmucsach li a{
    color: #000000;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: normal;
    line-height: 20px!important;
}
.danhmucsach li a:hover{
    color:#24a282;
}