<?xml version="1.0"?>
<config>
    <modules>
        <MW_Managelicense>
            <version>0.1.2</version>
        </MW_Managelicense>
    </modules>
    <frontend>
        <routers>
            <managelicense>
                <use>standard</use>
                <args>
                    <module>MW_Managelicense</module>
                    <frontName>managelicense</frontName>
                </args>
            </managelicense>
        </routers>
        <layout>
            <updates>
                <managelicense>
                    <file>mw_managelicense.xml</file>
                </managelicense>
            </updates>
        </layout>
         <translate>
			<modules>
				<MW_managelicense>
					<files>
						<default>MW_managelicense.csv</default>
					</files>
				</MW_managelicense>
			</modules>
		</translate>
    </frontend>
    <admin>
        <routers>
			<managelicense>
				<use>admin</use>
				<args>
					<module>MW_Managelicense</module>
					<frontName>managelicense</frontName>
				</args>
			</managelicense>
        </routers>
    </admin>
    <adminhtml>
		<menu>
		<customer module="customer">
			<children>
				<managelicense module="managelicense">
					<title>Licenses</title>
					<sort_order>1000</sort_order>               
					<children>
						<items module="managelicense">
							<title>Manage Licenses</title>
							<sort_order>0</sort_order>
							<action>managelicense/adminhtml_managelicense</action>
						</items>
						<items1 module="managelicense">
							<title>Extension Info</title>
							<sort_order>1</sort_order>
							<action>managelicense/adminhtml_extension</action>
						</items1>
					</children>
				</managelicense>
			</children>
		</customer>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<MW_Managelicense>
							<title>Managelicense Module</title>
							<sort_order>10</sort_order>
						</MW_Managelicense>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<managelicense>
					<file>mw_managelicense.xml</file>
				</managelicense>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <managelicense>
                <class>MW_Managelicense_Model</class>
                <resourceModel>managelicense_mysql4</resourceModel>
            </managelicense>
            <managelicense_mysql4>
                <class>MW_Managelicense_Model_Mysql4</class>
                <entities>
                    <managelicense>
                        <table>mw_managelicense</table>
                    </managelicense>
                    <extension>
                        <table>mw_extension_info</table>
                    </extension>
                </entities>
            </managelicense_mysql4>
        </models>
        <resources>
            <managelicense_setup>
                <setup>
                    <module>MW_Managelicense</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </managelicense_setup>
            <managelicense_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </managelicense_write>
            <managelicense_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </managelicense_read>
        </resources>
        <blocks>
            <managelicense>
                <class>MW_Managelicense_Block</class>
            </managelicense>
        </blocks>
        <helpers>
            <managelicense>
                <class>MW_Managelicense_Helper</class>
            </managelicense>
        </helpers>

        
        <default>
        	<maps>
        		<extension0>
        			<sku>osc</sku>
        			<name>mw_onestepcheckout</name>
        		</extension0>
        		<extension1>
        			<sku>hdk</sku>
        			<name>mw_helpdesk</name>
        		</extension1>
        	</maps>
        </default>
    </global>
</config>